@charset "utf-8";
/* CSS Document */


 ul{
margin: 0;
padding: 0;
}
 li{
float: left;
list-style:none;
margin: 0;
padding: 0;
height: 33px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;

}

 li.item{
padding: 5px;
padding-top: 9px;
background: url(../images/background.png);
background-position: 0 -132px;
background-repeat:repeat-x;
}

li.start{
background: url(../images/background.png);
background-position: 0 0;
background-repeat:no-repeat;
width:9px;
}
 li.end{
background: url(../images/background.png);
background-position: 0 -33px;
background-repeat:no-repeat;
width:9px;
}
 li.after{
background: url(../images/background.png);
background-position: 0 -99px;
background-repeat:no-repeat;
width:9px;
}
 li.afterGrey{
background: url(../images/background.png);
background-position: 0 -66px;
background-repeat:no-repeat;
width:9px;
}
#breadcrumb4 li#after3{
background: url(../images/background.png);
background-position: 0 -99px;
background-repeat:no-repeat;
width:9px;
}

#breadcrumb6  li{
float: left;
list-style:none;
margin: 0;
padding: 0;
height: 19px;
font-size: 11px;
font-family:Verdana, Arial, Helvetica, sans-serif;

}

#breadcrumb6 li.item{
padding: 5px;
padding-top: 2px;
background: url(../images/macBackNormal.png);
background-repeat:repeat-x;
}
#breadcrumb6 li#item0{
padding: 5px;
padding-top: 4px;
background: url(../images/macBack.png);
background-repeat:repeat-x;
font-weight: bold;
}
#breadcrumb6 li.start{
background: url(../images/macStart.png);
background-repeat:no-repeat;
width:4px;
}
#breadcrumb6 li.end{
background: url(../images/macEnd.png);

background-repeat:no-repeat;
width:4px;
}
#breadcrumb6 li.after{
background: url(../images/macSepNormal.png);
background-repeat:no-repeat;
width:10px;
}
#breadcrumb6 li#after0{
background: url(../images/macSep.png);
background-repeat:no-repeat;
width:10px;
}

#breadcrumb7  li{
float: left;
list-style:none;
margin: 0;
padding: 0;
height: 17px;
font-size: 11px;
font-family:Verdana, Arial, Helvetica, sans-serif;

}
#breadcrumb7{
background: #f0f0f0;
padding-top: 7px;
padding-left: 10px;
height:25px;
border: 2px solid #dfdfdf;
}
#breadcrumb7 li.item{
padding: 5px;
padding-top: 1px;
background: url(../images/simpleBack.png);
background-repeat:repeat-x;
}
#breadcrumb7 li#item0{
padding: 5px;
padding-top: 3px;
background: url(../images/simpleBack.png);
background-repeat:repeat-x;
}
#breadcrumb7 li.before{
background: url(../images/simpleBefore.png);
background-repeat:no-repeat;
width:7px;
}
#breadcrumb7 li.after{
background: url(../images/simpleAfter.png);
background-repeat:no-repeat;
width:10px;
}
